<style>
.login-page {
  width: 1080px;
  height: 720px;    
}


</style>

<div id="cssBg">  

<style type="text/css">
  body {
    background: #000;      
}  
</style>
 </div> 

 <div id="applicationWrapper">   

 <div id="aplication-01">
<div class="corporate">
<div class="row">
  <div class="pn">
    <div class="content-gvapp">

    <div class= "enbase" id="sc-1" style="width: 1260px;">
    <img src="icon/GestionVista_LocoCompleto.png">
    </div>

    </div>
  </div>  
</div>
</div>
</div>    

  </div>   






<div id="marqueBar">
</div>