
body {
  margin: 0;
  padding: 0;
  background: #000;
}

.nav ul {
	list-style: none;  
	background: #183D6F; 
	background: -webkit-linear-gradient(right, #525FB8, #183D6F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #525FB8, #183D6F);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	 text-align: center;
	 padding: 0;
	 margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 50px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  
}

#logo-header {
position: fixed;
top: -10px;
padding-left: 15px;
}

#content-gvapp {
background: #000;
width: 100%;
min-height: 700px;
max-height: 720px;
position: fixed;
top: 8px;
z-index: -2;
}


#listaSubMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #000; /* f1f1f1 */
    border: 1px solid #555;
    font-size: larger;
}

#listaSubMenu li a {
    display: block;
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
}

#listaSubMenu li {
    text-align: left;
    border-bottom: 1px solid #555;
}

#listaSubMenu li:last-child {
    border-bottom: none;
}

#listaSubMenu li a.active {
    background-color: #2D8030;
    color: white;
}

#listaSubMenu li a:hover:not(.active) {
    background-color: #2D8030;
    color: white;
}

#contentSubMenu {
	min-height: 450px;

}

#sc-full {
	max-height: 705px;	
}


.cs-div_2x2 {	
	width: 50%;
	height: 355px;
	float: left;
	position: relative;
	min-height: 1px;	
	z-index: 2;
	overflow: auto;
 }

 .cs-div_3x3 {	
	width: 33.3331%;
	height: 355px;
	float: left;
	position: relative;
	min-height: 1px;	
	z-index: 2;
	overflow: auto;
 }

 .cs-div_V1 {
 	width: 100%;
	height: 355px;
	float: left;
	position: relative;
	min-height: 340px;
	overflow: auto;
 }

.cs-div_H1 { 	
 	height: 710px;
 	width: 50%;
 	float: left;
	position: relative;
 }

 .cs-div_H1x3 {
	width: 100%;
	height: 33.3333331%;
	float: left;
	position: relative;
	min-height: 1px;		
	overflow: auto;
 }

#aplication-Full img {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	margin: auto;
}  


#aplication-Full {	
	width: 350px;	
	background-color: #000;
	margin: auto;	
	text-align: center;
}