
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}


.content-marque {
position: fixed;
height: 35px;
width: 100%;
background-image: url(../../image/BgNavigator.png);
background-repeat: repeat-x;
background-repeat-x: repeat;
background-repeat-y: no-repeat;
top: 686px;
z-index: 6;
opacity: 0.81;
}

.newsticker{
	position: absolute;	
	padding: 0px;
	margin-left: 18px;
}

.newsticker li {
color: #f2f2f2;
white-space: nowrap;
height: 39px;
padding-top: 8px; 
line-height: 10px;
list-style: none;
font-size: 22px;
text-align: left;
}

.title-cat-marq {
	font-size: 18px;
	

}

.content-marque marquee {
	font-size: 23px;
	color: #ffffff;
}

.secc-title-bar{
	width: 15%;
	min-width: 15%;
	float: left;

}

.secc-title-bar-img{
	width: 45%;
	min-width: 45%;
	float: left;
}

.secc-title-bar-img img {
	padding-left: 17px;	
}


.secc-title-bar-Name{
	width: 40%;
	height: 35px;
	min-width: 40%;
	font-size: 18px;	
	color: #D0CEF6;;
	float: left;
	text-align: right;
	/* background-color: rgba(0, 0, 0, 0.54); */
	line-height: 33px;
}


.titleBar{
	width: 100%;
	height: 39px;	
	background: #183D6F; 
	background: -webkit-linear-gradient(right, #525FB8, #183D6F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #525FB8, #183D6F);
}

.clockT {
	background-color: rgba(0, 0, 0, 0.2);
}



#timerToChange{	
	color: #D0CEF6;;
	text-align: right;
	line-height: 33px;
	font-size: 19px;

}

.dBody{
	max-height: 674px;	
	height:  674px;		
	overflow: hidden;
}

.row {
margin-right: -15px;
margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.corporate {
min-height: 672px;
padding-right: 5px;
padding-bottom: 5px;
width: 100%;
}

.white-panel {
background: #ffffff;		
}

.pn {	
height: 672px;
box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.container img {
height: 100%;
align-items: center;
}

/****  Tranbando los temas *****/

.enbase {
	height: 100%;
	width: 100%;
	padding-left: 15px;			
}

.excel-wrapp{
	padding-left: 20px;
}

.img {
	text-align: center;
	width: 100%;	
}


.cs-div_2x2 {	
	width: 50%;
	height: 336px;
	float: left;
	position: relative;
	min-height: 1px;	
	z-index: 2;
	overflow: hidden;
 }

 .cs-div_2x2>.enbase>.img>img,  .cs-div_3x3>.enbase>.img>img, .cs-div_H1>.enbase>.img>img, .cs-div_H1x3>.enbase>.img>img{
 	width: 100%
 }

 .cs-div_3x3 {	
	width: 33.3331%;
	height: 336px;
	float: left;
	position: relative;
	min-height: 1px;	
	z-index: 2;
	overflow: hidden;
 }

 .cs-div_V1 {
 	width: 100%;
	height: 336px;
	float: left;
	position: relative;
	min-height: 340px;
	overflow: hidden;
 }

.cs-div_H1 { 	
 	height: 672px;
 	width: 50%;
 	float: left;
	position: relative;
 }

 .cs-div_H1x3 {
	width: 100%;
	height: 33.3333331%;
	float: left;
	position: relative;
	min-height: 1px;		
	overflow: hidden;
 }